@model blog.Models.Blog

@{
    ViewData["Title"] = "Create";
}


<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">Create a new post</span></h1>
    <img src="~/images/sunset.jpg" class="fullwidth" />
</div>

<form asp-action="Create">
    <div class="row">
        <div asp-validation-summary="All" class="col-12 text-danger"></div>
        <div class="col-12 form-group">
            <input type="hidden" asp-for="@Model.Author" />
            <input type="hidden" asp-for="@Model.ContentTypeId" />
            <input type="hidden" asp-for="@Model.CreatedDate" />
            <input type="hidden" asp-for="@Model.LastModifiedDate" />
            <input type="hidden" asp-for="@Model.UserID" />

        </div>
        <div class="col-12 form-group">
            <label asp-for="@Model.Title" class="control-label"></label>
            <input asp-for="@Model.Title" class="form-control" />
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
    </div>
    @await Html.PartialAsync("_CodeInstructionPartial")
    <div class="row form-group custom-highlighter">
        <div class="col-12 paddingBottom15 snippets-wrap-container">
            <div class="snippets-wrap">
                <pre><textarea asp-for="@Model.Body" class="form-control included-snippets code"></textarea></pre>
                <span asp-validation-for="@Model.Body" class="text-danger"></span>
            </div>
            <div class="dragbar">
            </div>
            <div class="preview-container">

            </div>
        </div>
    </div>
    <div class="row paddingTop15">
        <div class="col-md-4">
            @Html.ActionLink("Back to List", "Index", "Member", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-4 txtaligncenter">
            @Html.ActionLink("Test The Code", "CodeTester", "CodeEditor", null, new { @class = "btn btn-primary" })
        </div>
        <div class="form-group col-md-4 submit">
            <input type="submit" value="Post a blog" class="btn btn-primary submit" />
        </div>
    </div>
</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
