@model IEnumerable<blog.Models.Blog>

@{
    ViewData["Title"] = "Index";
}


<div class="row blog-home-banner"> <img src="~/images/i4.gif" /> </div>
<p style="text-align: right;">
    <strong><a asp-action="Create">Post new blog</a> </strong>
</p>

@foreach (var blog in Model)
{
    <div class="row blog-home">
        <div class="col-12 blog-title">
            <h4>
                @Html.ActionLink(blog.Title, "Details", "Blogs", new { id = blog.BlogId })
            </h4>
        </div>
        <div class="col-12 teaser">
            @Html.DisplayFor(x => blog.Body)
        </div>

        @if (!String.IsNullOrEmpty(blog.HTML))
        {
            <div class="col-12 HTML">
                <h5 class="codeType">HTML</h5>
                <pre>@blog.HTML</pre>
            </div>
        }

        @if (!String.IsNullOrEmpty(blog.CSS))
        {
            <div class="col-12 CSS">
                <h5 class="codeType">CSS</h5>
                <pre>@blog.CSS</pre>
            </div>
        }

        @if (!String.IsNullOrEmpty(blog.JavaScript))
        {
            <div class="col-12 JavaScript">
                <h5 class="codeType">JavaScript</h5>
                <pre>@blog.JavaScript</pre>
            </div>
        }

            <div class="col-md-6 Posted">
                @Html.DisplayFor(x => blog.Posted)
            </div>
            <div class="col-md-6 Author">
                @Html.DisplayFor(x=> blog.Author)
            </div>
    </div>
}

