@model List<blog.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">BLOGS</span></h1>
    <img src="~/images/i4.gif" class="fullwidth" />
</div>

<div class="row">
    <div class="col-12 txtalignright marginTopBottom15">
        @Html.ActionLink("Post a new Blog", "Create","MemberBlogs", null, new { @class="btn btn-primary"})
    </div>
</div>


@foreach (var blog in Model)
{

    <div class="bkglightblue padding15">
        <div class="row">
            <div class="col-12 padding15">
                <h4>
                    @Html.ActionLink(blog.Title, "Details", "Member", new { id = blog.BlogId })
                </h4>
            </div>

            <div class="col-12 form-group custom-highlighter">
                @*<label asp-for="@blog.Body" class="control-label"></label>*@
                <pre><textarea asp-for="@blog.Body" class="form-control tab included-snippets codeIndex"></textarea></pre>
                <span asp-validation-for="@blog.Body" class="text-danger"></span>
                <div class="preview-container">

                </div>
            </div>

            <div class="col-md-3">
                @Html.DisplayFor(x => blog.CreatedDate)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(x => blog.LastModifiedDate)
            </div>
            <div class="col-md-3">
                @blog.Author.ToString().Split("@")[0]
            </div>
            <div class="col-md-3">
                @Html.ActionLink("REPLY", "Create", "MemberComments", new { id = blog.BlogId })
            </div>
        </div>

        @if (blog.Comments.Any())
         {
                @foreach (var comment in blog.Comments.Where(x=>x.BlogId == blog.BlogId).OrderByDescending(x => x.CreatedDate).Take(5))
                {
                    <div class="row bkgfloralwhite marginTopBottom15 paddingTop15">

                    <div class="col-12 form-group custom-highlighter">
                        @*<label asp-for="@comment.Body" class="control-label"></label>*@
                        <pre><textarea asp-for="@comment.Body" class="form-control tab included-snippets codeIndex"></textarea></pre>
                        <span asp-validation-for="@comment.Body" class="text-danger"></span>
                        <div class="preview-container">

                        </div>
                    </div>

                    @*<div class="col-12 hidden">
                        <pre>@Html.TextAreaFor(x => comment.Body, new {@class="form-control get-preview" })</pre>
                    </div>
                    <div class="col-12 noborder preview ">
                        <div class="preview-container">
                        </div>
                    </div>*@

                    <div class="col-md-6 padding15">
                        @comment.CreatedDate
                    </div>
                    <div class="col-md-6 padding15">
                        @comment.Commenter
                    </div>
                    </div>
                }
         }
    </div>
 }

