@model blog.Models.Blog

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-12" style="padding: 0;">
        <img src="~/images/blog_details.jpg" style="width: 100%;" />
    </div>
</div>

<div class="row">
    <div class="col-12" style="font-weight: bold; font-size: 1.2em;">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="col-12">
        <pre>@Html.DisplayFor(model => model.Body)</pre>
    </div>
    <div class="col-12 HTML">
        <pre>@Html.DisplayFor(model => model.HTML)</pre>
    </div>
    <div class="col-12 CSS">
        <pre>@Html.DisplayFor(model => model.CSS)</pre>
    </div>
    <div class="col-12 JavaScript">
        <pre>@Html.DisplayFor(model => model.JavaScript)</pre>
    </div>
    <div class="col-md-3"><a asp-action="Index">Back to List</a></div>
    <div class="col-md-3" style="font-style: italic;">@Html.DisplayFor(model => model.Author)</div>
    <div class="col-md-3" style="font-style: italic;">@Html.DisplayFor(model => model.Posted)</div>
</div>

