@model blog.Models.Blog

@{
    ViewData["Title"] = "Details";
}


<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">Blog Details</span></h1>
    <img src="~/images/blog_details.jpg" class="fullwidth" />
</div>

<div class="row marginBottom15">
    <div class="col-12 marginBottom15" style="font-weight: bold; font-size: 1.2em;">
        @Html.DisplayFor(model => model.Title)
    </div>

    @await Html.PartialAsync("_BlogBodyCodePreviewPartial")

    <div class="col-md-3"><a asp-action="Index" class="btn btn-primary">Back to List</a></div>
    <div class="col-md-3" style="font-style: italic;">@Html.DisplayFor(model => model.Author)</div>
    <div class="col-md-3" style="font-style: italic;">@Html.DisplayFor(model => model.LastModifiedDate)</div>
</div>

@if (@Model.Comments.Any()) {
@foreach(var comment in Model.Comments.Where(x=>x.BlogId == Model.BlogId).OrderByDescending(x=>x.CreatedDate))
{
    <div class="row bkgfloralwhite marginBottom15 paddingTopBottom15">
        @*<div class="col-12 paddingBottom15">
            <pre>@string.Format("{0}", comment.Body)</pre>
        </div>*@

        <div class="col-md-12 marginBottom15 hidden">
            @Html.TextAreaFor(y => comment.Body, new { @class = "fullwidth get-preview"})
        </div>

        <div class="col-12 preview">
            <div class="teaser preview-container">
            </div>
        </div>
        <div class="col-md-6 padding15">
            @comment.Commenter
        </div>
        <div class="col-md-6 padding15">
            @comment.CreatedDate
        </div>
    </div>
}
}

