@model IEnumerable<blog.Models.Blog>

@{
    ViewData["Title"] = "Index";
}


<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">My POSTS</span></h1>
    <img src="~/images/member_index.jpg" class="width100" />
</div>

@foreach (var x in Model) {
<div class="row">
    <div class="col-12 marginTopBottom15">
        <h4><strong><pre>@Html.ActionLink(x.Title,"Details","Member", new { id=x.BlogId})</pre></strong></h4>
    </div>
    <div class="col-12">
        @x.Body
    </div>
</div>
<div class="row edit_line paddingTopBottom15">
    <div class="col-md-3">
        @x.Posted
    </div>
    <div class="col-md-3">
        <a asp-action="Edit" asp-route-id="@x.BlogId">Edit</a>
    </div>
    <div class="col-md-3">
        <a asp-action="Delete" asp-route-id="@x.BlogId">Delete</a>
    </div>
    <div class="col-md-3">
        <a asp-action="Create">POST</a>
    </div>
</div>
}

