<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">TOPICS</span></h1>
    <img src="~/images/waterfall.jpg" class="fullwidth" />
</div>


<div class="row topic-row">
    <div class="col-md-3 topic-element">
        <div class="bkg-img"  style="background-image: url('../images/t1.jpeg');"></div>
        <div class="topic-round-head" style="background-image: url('../images/t1.jpeg');"></div>
        <h2 class="topic-title">@Html.ActionLink("jQuery", "Index", "Blogs", new { search = "jquery"})</h2>
    </div>
    <div class="col-md-3 topic-element">
        <div class="bkg-img" style="background-image: url('../images/t2.jpeg');"></div>
        <div class="topic-round-head" style="background-image: url('../images/t2.jpeg');"></div>
        <h2 class="topic-title">@Html.ActionLink("Front End", "Index", "Blogs", new { search = "front end"})</h2>
    </div>
    <div class="col-md-3 topic-element">
        <div class="bkg-img" style="background-image: url('../images/t3.jpeg');"></div>
        <div class="topic-round-head" style="background-image: url('../images/t3.jpeg');"></div>
        <h2 class="topic-title">@Html.ActionLink("CSS3", "Index", "Blogs", new { search = "css" })</h2>
    </div>
    <div class="col-md-3 topic-element">
        <div class="bkg-img" style="background-image: url('../images/t4.jpeg');"></div>
        <div class="topic-round-head" style="background-image: url('../images/t4.jpeg');"></div>
        <h2 class="topic-title">@Html.ActionLink("Back End", "Index", "Blogs", new { search = "back end" })</h2>
    </div>
</div>
<br />
<div class="row topic-row">
    <div class="col-md-3 topic-element">
        <div class="bkg-img" style="background-image: url('../images/t5.jpeg');"></div>
        <div class="topic-round-head" style="background-image: url('../images/t5.jpeg');"></div>
        <h2 class="topic-title">@Html.ActionLink("Angular", "Index", "Blogs", new { search = "angular" })</h2>
    </div>
    <div class="col-md-3 topic-element">
        <div class="bkg-img" style="background-image: url('../images/t6.jpeg');"></div>
        <div class="topic-round-head" style="background-image: url('../images/t6.jpeg');"></div>
        <h2 class="topic-title">@Html.ActionLink("Asp.NET core MVC", "Index", "Blogs", new { search = "mvc" })</h2>
    </div>
    <div class="col-md-3 topic-element">
        <div class="bkg-img" style="background-image: url('../images/t7.jpeg');"></div>
        <div class="topic-round-head" style="background-image: url('../images/t7.jpeg');"></div>
        <h2 class="topic-title">@Html.ActionLink("C#", "Index", "Blogs", new { search = "c#" })</h2>
    </div>
    <div class="col-md-3 topic-element">
        <div class="bkg-img" style="background-image: url('../images/t8.jpeg');"></div>
        <div class="topic-round-head" style="background-image: url('../images/t8.jpeg');"></div>
        <h2 class="topic-title">@Html.ActionLink("PHP", "Index", "Blogs", new { search = "php" })</h2>
    </div>
</div>