@model IEnumerable<blog.Models.Blog>

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @*<h1 class="display-4">Welcome</h1>*@
        <p style="color: red;"> Warning! This site is under construction from the ground up. Thank you for your patience.</p>
        <div class="row banner-container">
            <div class="col-12 banner" style="padding: 0;">
                <ul>
                    <li>
                        <img src="~/images/i1.gif" />
                          <h1 class="Banner_text">
                             <span> ASP.NET Core MVC </span>
                          </h1>
                    </li>
                    <li>
                        <img src="~/images/i2.gif" />
                        <h1 class="Banner_text">
                            <span> CSS3 </span>
                        </h1>
                    </li>
                    <li>
                        <img src="~/images/i3.gif" />
                        <h1 class="Banner_text">
                            <span> HTML </span>
                        </h1>
                    </li>
                    <li>
                        <img src="~/images/i4.gif" />
                        <h1 class="Banner_text">
                            <span> JavaScript <br /> jQuery <br /> Ajax </span>
                        </h1>
                    </li>
                    <li>
                        <img src="~/images/i5.gif" />
                        <h1 class="Banner_text">
                            <span> C# </span>
                        </h1>
                    </li>
                    <li>
                        <img src="~/images/i6.gif" />
                        <h1 class="Banner_text">
                            <span> Entity Framework </span>
                        </h1>
                    </li>
                    <li>
                        <img src="~/images/i7.gif" />
                        <h1 class="Banner_text">
                            <span> Web Development </span>
                        </h1>
                    </li>
                    <li>
                        <img src="~/images/i8.gif" />
                        <h1 class="Banner_text">
                            <span> Responsive Design </span>
                        </h1>
                    </li>
                    <li>
                        <img src="~/images/i9.gif" />
                        <h1 class="Banner_text">
                            <span> Mobile First </span>
                        </h1>
                    </li>
                    <li>
                        <img src="~/images/i10.gif" />
                        <h1 class="Banner_text">
                            <span> Content Management System </span>
                        </h1>
                    </li>
                    <li>
                        <img src="~/images/i11.gif" />
                        <h1 class="Banner_text">
                            <span> Bootstrap </span>
                        </h1>
                    </li>

                </ul>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h2 class="profile">
                    <img src="~/images/profile.jpg" /><br />Improve your IT knowledge: Learn to code with examples
                </h2>

                
                <div class="wrapper w1">
                    <div class="cube">
                        <div class="side  front"><span style="font-size: .4em;">JavaScript</span></div>
                        <div class="side   back"><span style="font-size: .5em;">HTML5</span></div>
                        <div class="side  right"><span style="font-size: .5em;">CSS3</span></div>
                        <div class="side   left"><span style="font-size: .5em;">C#</span></div>
                        <div class="side    top"><span style="font-size: .5em;">jQuery</span></div>
                        <div class="side bottom"><span style="font-size: .5em;">PHP5</span></div>
                    </div>
                </div>
                @*<div class="wrapper w2">
                    <div class="cube">
                        <div class="side  front">1</div>
                        <div class="side   back">6</div>
                        <div class="side  right">4</div>
                        <div class="side   left">3</div>
                        <div class="side    top">5</div>
                        <div class="side bottom">2</div>
                    </div>
                </div>*@
                

                <div class="left-nav">
                    <ul>
                        <li>@Html.ActionLink("HTML5", "Index", "Blogs", new { search = "html" })</li>
                        <li>@Html.ActionLink("JavaScript", "Index", "Blogs", new { search = "javascript" })</li>
                        <li>@Html.ActionLink("jQuery", "Index", "Blogs", new { search = "jquery" })</li>
                        <li>@Html.ActionLink("AngularJS", "Index", "Blogs", new { search = "angular" })</li>
                        <li>@Html.ActionLink("CSS3", "Index", "Blogs", new { search = "css" })</li>
                        <li>@Html.ActionLink("C#", "Index", "Blogs", new { search = "c#" })</li>
                        <li>@Html.ActionLink("Database", "Index", "Blogs", new { search = "database" })</li>
                        <li>@Html.ActionLink("ColdFusion", "Index", "Blogs", new { search = "coldfusion" })</li>
                        <li>@Html.ActionLink("Entity Framework", "Index", "Blogs", new { search = "entity framework" })</li>
                        <li>@Html.ActionLink("ASP.NET core MVC", "Index", "Blogs", new { search = "mvc" })</li>
                        <li>@Html.ActionLink("Linq query", "Index", "Blogs", new { search = "linq query" })</li>
                        <li>@Html.ActionLink("Dreamweaver", "Index", "Blogs", new { search = "dreamweaver" })</li>
                        <li>@Html.ActionLink("Networking", "Index", "Blogs", new { search = "networking" })</li>
                        <li>@Html.ActionLink("Integration", "Index", "Blogs", new { search = "integration" })</li>
                        <li>@Html.ActionLink("Security", "Index", "Blogs", new { search = "security" })</li>
                        <li>@Html.ActionLink("E-commerce", "Index", "Blogs", new { search = "e-commerce" })</li>

                    </ul>

                </div>
            </div>
            
            <div class="col-md-9 home-main-content-area">
                <div class="member-area">
                    <span><strong>@Html.ActionLink("Member Area", "Index", "Member")</strong></span> <br />Please login to post, edit, remove, or comment
                    <div class="row">
                        <div class="col-md-6 txtaligncenter">
                            <h5>@Html.ActionLink("Post your question", "Create", "Member")</h5>
                        </div>
                        <div class="col-md-6 txtaligncenter">
                            <h5>@Html.ActionLink("code editor", "codeTester", "CodeEditor")</h5>
                        </div>
                    </div>
                </div>

                <div class="posts">
                    @foreach (var x in Model)
                    {
                        <div class="marginTop15 padding15 bkglightblue">
                            <div class="row paddingBottom15">
                                <div class="col-12 marginTopBottom15">
                                    <h4><strong><pre>@Html.ActionLink(x.Title,"Details","Member", new { id=x.BlogId})</pre></strong></h4>
                                </div>
                                <div class="col-12 hidden">
                                    @Html.TextAreaFor(i => x.Body, new { @class = "fullwidth get-preview" })
                                </div>
                                <div class="col-12 preview">
                                    <div class="teaser preview-container">
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingTopBottom15">
                                <div class="col-12 txtalignright">
                                    @Html.ActionLink("Post a comment", "Create", "Comments", new { id = x.BlogId })
                                </div>
                            </div>

                            @if (x.Comments.Any())
                            {
                                foreach (var comment in x.Comments.Where(r => r.BlogId == x.BlogId).OrderByDescending(r => r.LastModifiedDate))
                                {
                                    <div class="row bkgfloralwhite margin0 marginBottom15 paddingTop15">
                                        <div class="col-md-12 marginBottom15 hidden">
                                            @Html.TextAreaFor(y => comment.Body, new { @class = "fullwidth get-preview", @style = "min-height: 300px;" })
                                        </div>

                                        <div class="col-12 preview">
                                            <div class="teaser preview-container">
                                            </div>
                                        </div>

                                        <div class="col-md-6 padding15">
                                            @comment.LastModifiedDate
                                        </div>
                                        <div class="col-md-6 padding15">
                                            @comment.Commenter
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    }

                </div>




            </div>
        </div>
    </div>
