@model blog.Models.Blog

<div>
    <p>It is always a good practice to share the codes to help others assist you quickly. Please place the codes in the corresponding box below. Run your code in the Preview box to ensure accuracy.</p>
</div>
<ul class="row codeeditor">
    <li class="col-md-4 HTML_list">
        <div class="codeType">HTML</div>
        <div class="HTML Code_container">
            <pre class="keepspace"><span class="placeholder">@Model.PlaceHolder_HTML</span>@Html.TextAreaFor(x => x.HTML, new { id = "" , @class= "Code_content"})</pre>
        </div>

    </li>
    <li class="col-md-4 CSS_list">
        <div class="codeType">CSS</div>
        <div class="CSS Code_container">
            
            <pre class="keepspace"><span class="placeholder">@Model.PlaceHolder_CSS</span>@Html.TextAreaFor(x => x.CSS, new { id = "" , @class= "Code_content"})</pre>
        </div>
    </li>
    <li class="col-md-4 JavaScript_list">
        <div class="codeType">JavaScript</div>
        <div class="JavaScript Code_container">
            <pre class="keepspace"><span class="placeholder">@Model.PlaceHolder_JavaScript</span>@Html.TextAreaFor(x => x.JavaScript, new { id = "" , @class= "Code_content"})</pre>
        </div>
    </li>
</ul>

<div class="Result">
    <h3 class="RUN btn-dark btn-lg">Run the code</h3>
    <iframe id="Result" src="~/iframe/index"></iframe>
</div>
