@model blog.Models.Comment
@{
    ViewData["Title"] = "Create";
}

<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">Post a Comment</span></h1>
    <img src="~/images/comment.jpg" class="fullwidth" />
</div>


    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 paddingTop15">
            <h4><input type="text" asp-for="@Model.blog.Title" value="@Model.blog.Title" disabled style="border: 0; padding: 15px;" /></h4>
            <span asp-validation-for="@Model.blog.Title" class="text-danger"></span>
        </div>

        <div class="col-12 form-group custom-highlighter">
            @*<label asp-for="@Model.blog.Body" class="control-label"></label>*@
            <pre><textarea asp-for="@Model.blog.Body" class="form-control tab included-snippets codeIndex"></textarea></pre>
            <span asp-validation-for="@Model.blog.Body" class="text-danger"></span>
            <div class="preview-container">

            </div>
        </div>
    </div>
    <form asp-action="Create">
        <div class="row">

            <div class="col-12 form-group custom-highlighter">
                @await Html.PartialAsync("_CodeInstructionPartial")

                <pre><textarea asp-for="@Model.Body" class="form-control included-snippets code"></textarea></pre>
                <span asp-validation-for="@Model.Body" class="text-danger"></span>

                <div class="preview-container">

                </div>
            </div>

            <div class="col-12">
                <input type="hidden" asp-for="@Model.BlogId" />
                <input type="hidden" asp-for="@Model.Commenter" value="@User.Identity.Name" />
                <input type="hidden" asp-for="@Model.CreatedDate" value="@DateTime.Now" />
                <input type="hidden" asp-for="@Model.LastModifiedDate" value="@DateTime.Now" />
            </div>
            <div class="col-md-6">
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
            <div class="col-md-6 txtalignright">
                <input type="submit" value="Reply" class="btn btn-primary" />
            </div>
        </div>
    </form>

