@model blog.Models.Comment

@{
    ViewData["Title"] = "Edit";
}

<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">Comment Editor</span></h1>
    <img src="~/images/sunset.jpg" class="fullwidth" />
</div>
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 paddingTop15">
            <h4><input type="text" asp-for="@Model.blog.Title" value="@Model.blog.Title" disabled="disabled" style="border: 0; padding: 15px;" /></h4>
            <span asp-validation-for="blog.Title" class="text-danger"></span>
        </div>

        <div class="col-12 form-group custom-highlighter">
            <pre><textarea asp-for="@Model.blog.Body" class="form-control tab included-snippets codeIndex"></textarea></pre>
            <span asp-validation-for="@Model.blog.Body" class="text-danger"></span>
            <div class="preview-container">

            </div>
        </div>
    </div>
    <form asp-action="Edit">

        <div class="row">
            <div class="col-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CommentId" value="@Model.CommentId" />
                <input type="hidden" asp-for="Commenter" value="@User.Identity.Name" />
                <input type="hidden" asp-for="BlogId" value="@Model.BlogId" />
                <input type="hidden" asp-for="LastModifiedDate" value="@DateTime.Now" />

                <div class="col-12 form-group custom-highlighter">
                    @await Html.PartialAsync("_CodeInstructionPartial")

                    @*<label asp-for="Body" class="control-label"></label>*@
                    <pre><textarea asp-for="@Model.Body" class="form-control included-snippets code"></textarea></pre>
                    <span asp-validation-for="@Model.Body" class="text-danger"></span>

                    <div class="preview-container">

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.ActionLink("Back to List", "Index", "Comments", null, new { @class = "btn btn-primary" })
            </div>
            <div class="col-md-4 txtaligncenter">
                @Html.ActionLink("Test The Code", "CodeTester", "CodeEditor", null, new { @class = "btn btn-primary" })
            </div>
            <div class="form-group submit col-md-4">
                <input type="submit" value="SAVE" class="btn btn-primary submit" />
            </div>
        </div>
    </form>