@model IEnumerable<blog.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">My Comments</span></h1>
    <img src="~/images/comment.jpeg" class="fullwidth" />
</div>

@foreach (var comment in Model)
{
    <div class="comment-container bkgfloralwhite marginBottom15 padding15" style="padding-bottom: 0;">
        <div class="row comment marginBottom15">

            <div class="col-12 form-group custom-highlighter">
                @*<label asp-for="@comment.Body" class="control-label"></label>*@
                <pre><textarea asp-for="@comment.Body" class="form-control tab included-snippets codeIndex"></textarea></pre>
                <span asp-validation-for="@comment.Body" class="text-danger"></span>
                <div class="preview-container">

                </div>
            </div>

            <div class="col-md-4 paddingTopBottom15">
                @comment.LastModifiedDate
            </div>
            <div class="col-md-2 paddingTopBottom15 txtalignleft">
                @Html.ActionLink("DELETE", "Delete", "Comments", new { id = comment.CommentId })
            </div>
            <div class="col-md-2 paddingTopBottom15 txtaligncenter">
                @Html.ActionLink("EDIT", "Edit", "Comments", new { id = comment.CommentId })
            </div>
            <div class="col-md-2 paddingTopBottom15 txtaligncenter">
                @Html.ActionLink("BLOG", "Details", "Member", new { id = comment.BlogId })
            </div>
            <div class="col-md-2 paddingTopBottom15  txtalignright">
                <a href="@ViewBag.Referer" >Back</a> 
            </div>
        </div>

        <div class="row bkgazure paddingTopBottom15 blog">
            <div class="col-12">
                @Html.ActionLink(comment.blog.Title, "Details", "Member", new { id = comment.BlogId })
            </div>

            <div class="col-12 hidden">
                <textarea asp-for="@comment.blog.Body" class="form-control get-preview"> </textarea>
                <span asp-validation-for="@comment.blog.Body" class="text-danger"></span>
            </div>

            <div class="col-12 preview">
                <div class="preview-container">
                </div>
            </div>


        </div>
    </div>
}
